
/* ------ CSS Styles for the DLESE search template ------ */

/* ------------

	Note: If you want to cutomize the styles for the template 
	separately from the styles you use elsewhere in your page, 
	you can use the class 'dleseTmpl' to do so. For example, 
	if you wanted to define separate colors for the links
	displayed in the template, you would do the following:
	
	A.dleseTmpl:link { 
		color: #333366
	} 
	
	A.dleseTmpl:hover {
		color: #333366;
		text-decoration: none;
	} 
	
	A.dleseTmpl:active {
		color: #333366;
		text-decoration: none;
	} 
	
	
	Or to use a different font in the template:
	
	TD.dleseTmpl { 
		font-family: monospace; 
		font-size: 8pt; 
	} 	

------------ */

BODY {
	margin-left: 4px;
	margin-right: 4px;	
	margin-top: 4px;
	margin-bottom: 1px;
	padding: 0px;	
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 			
} 

TD { 
	/* Note: Most of the text resides in a TD element - edit here to
	change the style, size and/or color of the fonts throughout the page */
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
} 

H1 { 
	font-family : Arial, Helvetica, sans-serif; 
	font-size : 14pt ;
	color : #333366; 
} 

H2 { 
	font-family : Arial, Helvetica, sans-serif; 
	font-size : 12pt ;
	color : #333366; 
} 

H3 { 
	font-family : Arial, Helvetica, sans-serif; 
	font-size : 10pt ;
	color : #333366;
	margin-bottom: 0px;
} 
	  
UL {
	margin-top: 2px;
	margin-bottom: 0px;
}


/* ------ Styles used for the links in the page ------ */

A:link { 
	color: #333366;
} 

A:hover {
	color: #333366;
	text-decoration: none;
} 

A:active {
	Color: #333366;
	text-decoration: none;
} 

/* ------ Styles used in section heading boxes ------ */
.bannerTxt {
	/* The fonts and position of the section heading boxes */
	font-family : Arial, Helvetica, sans-serif; 
	color: #000000;
	font-size: 12pt; 
	font-weight: bold;
	padding-left:4px;
	padding-top:2px;
	padding-bottom:2px;
} 

TABLE.banner   {
	/* A thin border around the section heading boxes */
	background-color:#cccccc;
	width:100%;
}

TR.banner  {
	/* The background color of the section heading boxes */
	background-color:#e8ecf4;
}


/* ------ Styles used for the checkbox menus ------ */
A.cb:link {
	color: #333366; 
	text-decoration: none; 
	font-weight: bold;
	font-size: 9pt; 	
}
A.cb:visited {
	color: #333366; 
	text-decoration: none; 
	font-weight: bold;
	font-size: 9pt; 	
}	
A.cb:active {
	color: #333366; 
	text-decoration: none; 
	font-weight: bold;
	font-size: 9pt; 	
}	
.cbItems {
	font-size: 9pt; 
}

/*  ------ Style for the 'clear selections' button  ------ */
.clearbutton {
	font-size: 9px;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	color: #333366; 
	height: 16px; 
	background-color: #eeeeee;
}	

/* ------ The link for the resources that appears black (no underline, etc) ------  */
A.blacklnk:link {
	color: #000000; 
	text-decoration: none; 
	font-weight: bold;
	font-size: 11pt; 	
}

A.blacklnk:visited {
	color: #000000; 
	text-decoration: none; 
	font-weight: bold;
	font-size: 11pt; 	
}

/*  ------ The collection title name, when no link is available  ------ */
.collectionTitle {
	color: #000000; 
	font-weight: bold;
	font-size: 11pt; 	
}

/*  ------ Style used to highlight 'Your selections'  ------ */
.selectionsHighlight {
	color: #000066;
} 

/* ------ Style used for the annotation links and display ------ */
A.annos:link {
	color: #333366; 
	font-size: 9pt; 	
}
A.annos:visited {
	color: #333366; 
	font-size: 9pt; 	
}	
A.annos:active {
	color: #333366; 
	font-size: 9pt; 	
}
UL.annos{
	margin-top: 0;
	margin-bottom: 0;
}

/* ------ Styles used in the full descripion ------ */
.description { 
	padding-left: 10px; 	
	padding-right: 14px; 		
	padding-bottom: 8px; 
}
.edTop { 
	font-weight: bold;
	color: #333333; 
	padding-left: 4px; 	
	padding-top: 10px; 		
} 
.edEn { 
	padding-left: 12px; 	
}
