/* login modules configuration entries are stacked here
	- they are invoked in the order defined 
	- controlFlag (e.g., "sufficient" controls what is required for success
		see javax.security.auth.login.AppConfigurationEntry
	- entries can be disabled by commenting them out.
	 
	NOTE: the built-in NCS FileLogin can serve as a "catch-all" that allows 
	users to authenticate if they don't have a login on one of the alternate
	login modules.
*/

NCS
{
	/* Ldap login configuration */
/*	edu.ucar.dls.schemedit.security.login.LdapLogin
	sufficient 
	debug=true
	propsFile = "C:/mykeys/NsdlLdap.properties";
*/

	/* UCAS Auth-based login config */
/*	edu.ucar.dls.schemedit.security.login.UcasLogin
	sufficient 
	debug=true
	propsFile="C:/mykeys/ucarAuth.properties";
*/	
	
	/* built-in NCS FileLogin using a local password file */
	edu.ucar.dls.schemedit.security.login.FileLogin
	sufficient 
	debug=true 
	pwdFile="@MY_DIR@/passwd";
};

